@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  background-color: rgb(246, 246, 246);
}


.centered-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
button{
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 20px;
  border: none;
  background-color: rgb(248, 248, 248);
  padding: 15px;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}
button:hover{
  background-color:white;
}


.enter-form{
  text-align: center;
  font-family: "Quicksand", sans-serif;
}
.questionText{
  font-weight: 400;
  font-size: 25px;
}
.questionInput{
  font-size: 40px;
  font-weight: 500;
  border-radius: 15px;
  padding: 10px 20px;
  border: none;
  margin-top: 7%;
  margin-bottom: 7%;
  width: 500px;
}
.workQuestionInput{
  font-size: 25px;
  font-weight: 500;
  border-radius: 15px;
  padding: 10px 20px;
  border: none;
  margin: 10px;
  width: 400px;
}
.dateInput{
  font-size: 25px;
  font-weight: 500;
  border-radius: 15px;
  padding: 10px 20px;
  border: none;
  width: 150px;
  margin: 5px;
}
textarea{
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 25px;
  margin: 10px;
  width: 100%;
  height: 200px;
  padding: 10px; /* Padding inside the textarea */
  border: 1px solid #ccc; /* Border around the textarea */
  border-radius: 15px; /* Rounded corners of the textarea */
  resize: none; /* Disallow resizing of the textarea */
}

.header{
  font-size: 40px;
  text-align: center;
  font-weight: 500;
}
.added-position{
 
  background-color: white;
  padding: 20px;
  border-radius: 15px;
}

.main-content{
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}









.fade-enter, .fade-exit-active {
  opacity: 0;
  transition: opacity 250ms;
}

.fade-enter-active, .fade-exit {
  opacity: 1;
  transition: opacity 250ms;
}
